<%= render "shared/jumbotron", header: "Art Store", tag_line: "We sell art-related stuff" %>

<div class="row text-center">
   

   <div class="col-lg-4">
	<%= render "shared/card", image: "register.jpg", title: "Wanna make an account?", body: "Register Now.", btn_text: "Register", link_text:"/users/new" %>
   </div>


  <div class="col-lg-4">
	<%= render "shared/card", image: "art_supplies.jpeg", title: "Wanna see our Supplies?", body: "We sell top of the line art materials.", btn_text: "Check Supplies", link_text:"/supplies" %>
   </div>





</div>
